<div class="popover am-flip-x" tabindex="-1" ng-show="content"
     style="width:300px;top: -40.5px; left: 639px; display: block; visibility: visible;" ng-controller="PopupCtrl">
    <div class="arrow"></div>
    <h3 class="popover-title" ng-bind-html="title" ng-show="title">Title</h3>

    <div class="popover-content">
        <form name="popoverForm" class="ng-pristine ng-valid">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon" style="width: 105px; text-align: left">Topic</div>
                    <input class="form-control" placeholder="topic..." ng-model="topic">
                </div>
                <div class="input-group">
                    <div class="input-group-addon" style="width: 100px; text-align: left">Group Name</div>
                    <input class="form-control" placeholder="group name..." ng-model="group">
                </div>
            </div>
            <div class="form-actions" >
                <button type="button" class="btn btn-primary" style="width: 50%;"
                        ng-click="create(topic, group);$hide()">Create
                    <button type="button" class="btn btn-danger" style="width: 50%" ng-click="$hide()">Cancel</button>
                </button>
            </div>
        </form>
    </div>
</div>