<div>
    <div class="consumer" ng-controller="ConsumerCtrl">
        <h3 class="title-2">Group Name: {{consumer.name}}</h3>

        <div class="consumer-msg-table">
            <h4 >Consumed Messages</h4>
            <table class="table cond">
                <thead>
                <tr>
                    <th>Offset</th>
                    <th>Timestamp</th>
                    <th>Content</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody ng-repeat="msg in consumer.msgs | orderBy: '-index'">
                <tr class = {{msg.isOK}}>
                <td>{{msg.index}}</td>
                    <td>{{msg.timestamp}}</td>
                    <td>{{msg.content}}</td>
                    <td><span class="label label-success">{{msg.status}}</span></td>
                </tbody>
            </table>
        </div>

    </div>
</div>