.producer {
    height: 600px;
    padding: 30px 15px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
}

.queue {
    height: 600px;
    padding: 30px 15px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
}

.producer-msg-hisorty-table {
    height: 400px !important;
    overflow: auto;
}

.queue-msg-table {
    height: 400px !important;
    overflow: auto;
}

.consumer-group {
    float: left;
}

.consumer {
    height: 100%;
    /*width: 500px;*/
    padding: 30px 15px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
}

.consumer-msg-table {
    overflow: auto;
}

